p{
    padding: 4px;
    text-align: center;
    text-shadow: 20px;
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin: 30px;
}
h1{
    margin: 4px;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
.nav{
    background-color:rgb(190, 190, 190);
    color: black;
    padding: 10px;
    border: 20px;
}
body{
    margin: 100px;
    background-color:darkgrey;
}
img{
    float: right;
    margin-bottom: 5%;
}
form{
    padding: 90px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
}
h2{
    padding: 19px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    margin-top: 50px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 30px;
    padding: 30px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    background-color:rgba(163, 117, 84, 0.438);
    color: black;
    
}

.nav2{
    padding: 30px;
    background-color: rgb(177, 177, 177);
}
.nav2:hover{
    background-color: aliceblue;
    
}
.navv:hover{
    color:dimgrey;
    font-size: 35px;
}
.navv1:hover{
    color: dimgray;
    font-size: 35px;
}
.navv2:hover{
    color: dimgray;
    font-size: 35px;
}