p{
    padding: 4px;
    text-align: center;
    text-shadow: 20px;
    text-transform: capitalize;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin: 30px;
}
h1{
    margin: 4px;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
.nav{

    background-color:rgb(190, 190, 190);
    color: black;
    padding: 10px;
    border: 20px;
}
body{
    margin: 100px;
    background-color:darkgrey;
}
img{
   width: 400px;
   display: flex;
   justify-content: center;
   align-items: center;

}
h3{
    padding: 19px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:none;
    margin-top: 50px;
    font-size: 40px;
}
h2{
    font-size: 40px;
    padding: 19px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    margin-top: 50px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 30px;
    padding: 30px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    margin-left: 40%;
    width: 200px;
    
}
button:hover{
    background-color: grey;
}
.nav2{
    background-color: rgb(177, 177, 177);
}
.nav2:hover{
   content:'';
   display: flex;
   width: 0;
    
}
nav:hover{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    transition:width 0.3x ;
    
}
.h1{
    text-align: center;
    margin-top: 40%;
}
input{
    height: 40px;
    width: 400px;
    margin-left: 32%;
}
#message{
    height: 40px;
    width: 400px;
    margin-left: 32%;
}
.image{
    float: left;
    padding: 20px;
}
.image2{
    float: right;
    padding: 20px;
    margin-bottom: 30px;
}
.ap{
    text-align: end;
    float: left;
    
}
.aap{
    float: right;
}
.contact-container{
    align-items: center;
    width: 50vw;
}
.contact-container{
    position: relative;
    left: 50px;

}
.wasd{
    margin: 25%;
    border: 30px;
}
ul{
    display: flex;
    list-style: none;
}
a:hover{
    text-decoration: underline chocolate 6px;
}